body{
	margin: 0;
}
/*organisation des boîtes*/
section{
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.ord{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.ord2{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60vw;
}

/*Couleur et dimension*/
.jaune{
	background-color: yellow;
	border: 2px solid black;
}

.taille{
	width: 10vw;
	height: 23vh;
}
