button {
	display: inline-block;	
	text-align: center;
	margin: 15px;
	border: 5px solid #B0C3D0;
	background-color: #B0C3D0;
	border-radius: 5px 5px 5px 5px;
	font-size: 22.5px;
	color: White;
	width: 160px;
}

button:hover{
	width: 170px;
	height: 40px;
}

#centrer{
	display: flex;
	justify-content: center;
	height: 70px;
	width: 100%;
	align-items: center;
	background-color: #39769D;
	border-radius: 5px 5px 0px 0px;
	position: fixed;
}
body{
	background-color: #B0C3D0;
}

img{
	width: 90%;
	height: 800px;
}

#cr{
	margin: 5px;
	display: flex;
	justify-content: center;
}
.mm{
	display: flex;
	justify-content: center;
	height: 800px;
	font-size: 20px;

}
