div{
	display: flex;
	justify-content: center;
}

#lion{
	text-align: center;
}

ol + h3{
	text-align: center;
}

#titre{
	text-align: center;
	color: red;
	margin-left: 10%;
	border: 3px solid red;
	width: 80%;
}

th, td {
  border: 1px solid;
}
table {
  width: 80%;
  margin-left: 10%;
}

th{
	background-color: gray;
}

span{
	background-color: yellow;
}

p + h3, ul {
	margin-left: 5%;
}

p + h3{
	text-decoration: underline;
}

img{
	width: 25%;
	height: 25%;
}