* {
	margin: 3px;
	margin-left: 5px;
  	box-sizing:border-box;
}
/*Nous divisons notre page en 6 lignes et 10 colonnes avec grid*/
section{
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(10, 1fr);
	/*grid-row-gap:20px;*/
	position: absolute;
    left: 0;
    top: 0;
}

#section1{
	grid-row: 1/ span 10;
	grid-column: 1/ span 3;
	background-color: #e4e4e7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#section1>hr{
	width: 75%;
}

#section2{
	grid-row: 1/ span 10;
	grid-column: 4/ span 7;
	color: black;
}

#section2>div>h2{
	background-color: #62A196;
	color: white;
	padding: 7px;
	padding-left: 10px;
}

#coul1 {
	width: 170px;
	/*background-color: #009E84;*/
}

#coul2{
	width: 420px;
}

#coul3{
	width: 205px;
}

.gris{
	color: grey;
}

.vert{
	color: #62A196;
}
li>a{
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	color: #62A196;
}
.un_un{
	display: flex;
	justify-content: space-between;
	
}

.de_de{
	display: flex;
	justify-content: space-between;
}

h1{
	font-size: 200%;
}

p, li{
	font-size: 110%;
}

h2{
	margin-top: 10px;
}

img{
	width: 150px;
	height: 150px;
	border-radius: 100% 100% 100% 100%;
	/*margin-left: 25%;*/
}


.titre{
	text-align: center;
}
.info{
	width: 95%;
}

#section1>div>ul>li{
	list-style: none;
	margin-left: -5%;
}

span{
	font-style: italic;
	color: #62A196;
}

#section1>div>h2{
	margin-bottom: 2%;
	color: #62A196;
}

#infos{
	text-align: left;
}
i{
	color: ;
	font-size: 110%;
	display: inline-block;
	margin-left: -25px;
}
i+p{
	color: ;
	font-size: 110%;
	display: inline-block;
	
}

#tel{
	margin-left: 56px
}

#section1 li{
	margin-top: 10px;
}